<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="localhost" />
    <add key="Database" value="smsd" />
    <add key="User" value="root" />
    <add key="Password" value="etha" />
    <add key="Port" value="3306" />
    <add key="DeviceName" value="HUAWEI Mobile Connect - 3G PC UI Interface"/>
    <add key="DevicePort" value="COM17"/>
    <add key="Signature" value="Ocph SMS" />
  </appSettings>
</configuration>